p{
    color :black;
}
h3{
    color :purple;
}
body{
    background-image: url(..//img/pattern.png);
    margin:0px
}
header{
    background-clip: url(../img/laravel.png);
    display : flex;
    justify-content: space-between;
    position : fixed;
    left : 0px;
    right: 0px;
    top : 0px;
}
nav{
    list-style : none
}
li{
    margin : 5px;
    display: inline;
    color :purple;
}
a{
    text-decoration: none;
}
section{
    margin: 40px 150px 30px;
    padding: 20px;
}
article{
    border-bottom: 2px solid black;
    margin: 20px;
}
h1{
    text-align: center;
}
footer{
    background-color: black;
    padding: 5px;
}
h5{
    color: white;
    text-align: center;
}